*{
    background-color: #222;
    color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size:1rem ;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif ;
    filter: drop-shadow(2px 2px 10px rgb(255, 255, 0));
    color: yellow;
}
.banner{
    background-image: url("https://occ-0-4857-2186.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeqU5y13eHjQ6rfOYnpZUi3Rs_tf8KhstGfq_LmpqDzeR0UmZ_Op7pNso4OFiL97UO-hwXayjoAue7TL_Okys9Q280u7XZJpbOle.jpg?r=834&quot");
    background-size: cover;
    background-position: center center;
    max-width: 100;
    background-repeat: no-repeat;
    height: 800px;
    
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin: 0% 0.5%;
    border-radius: 0.4%;

}
h1.p{
    padding: 10px 0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600 ;
    font-size: 40px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 90px;
    font-size: 25px;
}

